@font-face {
    font-family: "Libre Baskerville";
    src: url('./Fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Libre Baskerville";
    src: url('./Fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "Oxygen";
    src: url('./Fonts/Oxygen/Oxygen-Light.ttf') format("truetype");
    font-weight: 300;
    font-style: light;

}
@font-face {
    font-family: "Oxygen";
    src: url('./Fonts/Oxygen/Oxygen-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Oxygen";
    src: url('./Fonts/Oxygen/Oxygen-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: bold;
}

:root {
    --accent-color: teal;
}
* {
    box-sizing: border-box;
    font-family: "Oxygen";
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
    row-gap: 15px;
    align-items: center;
}


main > * {
    margin: 0px 300px;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    gap: 15px;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 30px 0;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10%;
    padding-top: 100px; 
}

.nav button {
    padding: 15px 50px;
    outline: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--accent-color);
    color: white;
}

.nav button:active {
    border: 2px solid white;
    outline: var(--accent-color) solid 3px;
    box-shadow: inset 1000px 0px 10px rgba(0,0,0, 0.1);
}

.heading {
    font-size: 50px;
    font-family: "Libre Baskerville";
    font-weight: 400;
    margin: 100px 0;
}

.iconAndInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.menuPage > div:last-child {
    margin-bottom: 100px;
}

.menuPage {
    display: grid;
    gap: 20px;
}

.homePage {
    display: grid;
}

.homePage > div:nth-child(4) {
    margin: 100px 0;
}
.homePage > div:nth-child(5) {
    margin-bottom: 100px;

}

button.highlight{
    background-color: rgb(3, 189, 189);
}

img.icon {
    height: 24px;
    width: 24px;
}

.heroImage {
    width: 1000px;
    height: 400px;
    max-width: 100%;
    justify-self: center;
    object-fit: none;
    object-position: 50% 30%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.homePage > span {
    color: rgba(0,0,0, 0.5);
}
.aboutSection {
    margin-top: 100px;
}